{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"rules": {
		"@typescript-eslint/no-explicit-any": 0,
		"@typescript-eslint/no-non-null-assertion": 0,
		"@typescript-eslint/ban-ts-comment": 0,
		"@typescript-eslint/no-unsafe-optional-chaining": 0,
		"@typescript-eslint/no-non-null-asserted-optional-chain": 0,
		"@typescript-eslint/no-namespace": 0,
		"no-unsafe-optional-chaining": 0
	}
}
